*{
    padding: 0;
    margin: 0;
    background-color: #FFE8D6;
}
nav div.banner__titulo{
    text-align: center;
}
/*Footer*/
li {
    list-style: none; 
}
  
  i {
    font-size: 2rem;
    color: #14213D;
    margin: 0.2rem; 
}
  
  .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    max-width: 100%; 
}